body {
  background-color: #0f172a;
  color: #e2e8f0;
  font-family: 'Inknut Antiqua', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

#dashboard {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#sidebar-left,
#sidebar-right {
  width: 280px;
  background-color: #1e293b;
  padding: 20px;
  color: #e2e8f0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#map {
  flex: 1;
  height: 100vh;
  width: 100%;
  z-index: 0;
}


.leaflet-container {
  background: #0f172a; /* fallback background */
}

#balloon-info i {
  color: #00bfff;
  font-size: 1.05rem;   /* slightly larger (default is ~0.9rem) */
  margin-right: 8px;
}
#balloon-info h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: #f0f0f0;
}
#balloon-info p {
  margin: 4px 0;
  font-size: 0.95rem;
  line-height: 1.4;
}